.sidebar{
    padding-top: 5px;
    
    display: flex;
    flex-direction: column;
    
    position: fixed;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 72px;
    z-index: 200;
    cursor: pointer;
}
.sidebarlink{
    height: 70px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    
}
.sidebarlink:hover{
    background-color: rgb(235,235,235);
}
.sidebar img{
    height: 25px;
}
.sidebar div{
    font-size: 10px;
    font-family: roboto,arial;
}